[Desktop Entry]
Version=1.0
Type=Application
Name=Google Chrome Green
Icon=google-chrome-green.png
Exec=bash /usr/bin/google-chrome green
Terminal=false
